[twitter]
access_token = TWITTER_ACCESS_TOKEN
access_token_secret = TWITTER_ACCESS_TOKEN_SECRET
consumer_key = TWITTER_CONSUMER_KEY
consumer_secret = TWITTER_CONSUMER_SECRET

[io]
outfile = /tmp/twitter_archive
target_count = 10000
tracker_string = #interesting,#tweets
delete_after_upload = True
access_key = S3_ACCESS_KEY
secret_access_key = S3_SECRET_ACCESS_KEY
endpoint_url = https://s3.us-west-000.backblazeb2.com
follow_file = follow.txt
follow_file = follow_ids.txt